.container{
    display: -webkit-flex;
    width: 700px;
}
.first{
    -webkit-flex: 1;
    height: 100px;
    background-color: #7FFF00;
}

#second{
    -webkit-flex: 1;
    height: 200px;
    background-color: #0000CC;
}
#third{
    -webkit-flex: 1;
    height: 300px;
    background-color: #660099;
}