*{
    padding: 0;
    margin: 0;
}
.page-loading {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: inline-block;
    background-color: #fff;
    text-align: center;
}

.page-loading-logo, .page-loading-anim {
    margin-top: 160px;
    height: 70px;
    width: 70px;
    display: inline-block;
    background: url(/static/img/loading-logo.png) 0 0 no-repeat;
    background-size: 70px 140px;
    position: relative;
}

.page-loading-anim {
    margin: 0;
    -webkit-animation: loading-anim 2s linear infinite;
    background-position: 0 -70px;
    position: absolute;
    left: 0;
}

.page-loading-text {
    color: #888;
    font: 400 16px/30px normal;
}